<form [formGroup]="leadForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>Add sales leads</h1>
  <mat-error class="mat-body">{{this.backendErrorMessage}}</mat-error>
  <mat-dialog-content fxLayout="column">
    <mat-form-field fxFlex appearance="outline">
      <input matInput placeholder="Leads" formControlName="lead">
      <mat-error>Leads is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Sales representative" formControlName="rep">
      <mat-error>Sales is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Clients" formControlName="client">
      <mat-error>Clients is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Value" type="number" formControlName="value">
      <mat-error *ngIf="leadForm.controls['value'].invalid && leadForm.controls['value'].errors.required">Value is required</mat-error>
      <mat-error *ngIf="leadForm.controls['value'].invalid && leadForm.controls['value'].errors.pattern">Value should be a positive number</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Date is required</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end" fxLayoutGap="10px">
    <button mat-flat-button color="primary">Save</button>
    <button mat-stroked-button color="primary" class="border" type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>