/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}
.pointer{
  cursor: pointer;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0 !important;
}

.p-10{
  padding: 10px;
}

.blue {
  color: #2AB7CC;
}

.blue-background {
  background-color: #2AB7CC;
  color: white;
}

.border{
  border: 1px solid !important;
}
